/backend/node_modules
/backend/package-lock.json
/backend/yarn.lock
/backend/yarn-error.log
/backend/yarn-debug.log
/backend/yarn-debug.log.*
/backend/npm-debug.log
/backend/npm-debug.log.*
/backend/pnpm-debug.log
/frontend/node_modules
/frontend/package-lock.json
/frontend/yarn.lock
/frontend/yarn-error.log
/frontend/yarn-debug.log
/frontend/yarn-debug.log.*
/frontend/npm-debug.log
/frontend/npm-debug.log.*
/mediasoup/node_modules
/mediasoup/package-lock.json
/mediasoup/yarn.lock
/mediasoup/yarn-error.log
/mediasoup/yarn-debug.log
/mediasoup/yarn-debug.log.*
/mediasoup/npm-debug.log
/mediasoup/npm-debug.log.*

# env 
/frontend/.env.local
/backend/.env
/mediasoup/.env
